<% layout('layout') %>

<div class="container mt-5">
  <h1 class="text-center"><% title %></h1>
  <%if(typeof query !== 'undefined' && query.trim() !== '') {%>
    <p class="text-muted text-start fw-bold fs-4">
      Hasil Pencarian
    </p>
  <% } %>
  <div class="row">
    <% if(products.length>0) { %>
      <% products.forEach(function(product) { %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h4 class="card-title"><%=product.name %></h4>
              <p class="card-text"><%=product.description %></p>
              <p class="card-text fw-bold">Rp<%=product.price.toLocaleString('id-ID') %></p>
              <a href="/product/<%=product.id %>" class="btn btn-primary">Detail Produk</a>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else{ %>
      <p>Tidak ditemukan produk tersebut</p>
    <% } %>
  </div>  
</div>